md-toolbar
  .md-toolbar-tools
    md-button(aria-label="Settings",ng-click="root.toggleSidebar()")
      md-icon(md-font-set="material-icons") menu
    span(flex)
md-sidenav(md-component-id="left")
  md-list
    md-list-item(ui-sref="root.landing") Home
    md-list-item(ui-sref="root.login") Login
    md-list-item(ui-sref="root.register") Register
ui-view
