//output:../../index.html
doctype html
html(lang='en')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='//ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css')
    link(rel='stylesheet', href='//fonts.googleapis.com/icon?family=Material+Icons')
  body(ng-app='pvalue')
    div(ui-view)
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.js')
    script(src='//ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js')
    script(type='text/javascript', src="src/ts/index.js")
    script(type='text/ng-template', id='root.html')
      include views/root.jade
    script(type='text/ng-template', id='landing.html')
      include views/landing.jade
    script(type='text/ng-template', id='login.html')
      include views/login.jade
    script(type='text/ng-template', id='register.html')
      include views/register.jade
